Exercises: Level 1

In [1]:
#Declare an empty list
empty_list = []

In [2]:
#Declare a list with more than 5 items
family = ["Joseph", "Goodness", "Promise", "Glory", "Mercy"]

In [3]:
#Find the length of your list
no_of_family = len(family)
print(no_of_family)

5

In [4]:
#Get the first item, the middle item and the last item of the list
family[::2]

['Joseph', 'Promise', 'Mercy']

In [5]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Saviour", 27, 1.75, "Single", "Lagos, Nigeria"]

In [6]:

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
#Print the first, middle and last company
print(it_companies[::2])

['Facebook', 'Microsoft', 'IBM', 'Amazon']

In [8]:
#Print the list after modifying one of the companies
it_companies[0] = "PWC"
print(it_companies)

['PWC', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [9]:
#Add an IT company to it_companies
it_companies.append("Accenture")
print(it_companies)

['PWC', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [10]:
#Insert an IT company in the middle of the companies list
it_companies.insert(4, 'Forage')
print(it_companies)

['PWC', 'Google', 'Microsoft', 'Apple', 'Forage', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [14]:
#Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()
print(it_companies)

['PWC', 'GOOGLE', 'Microsoft', 'Apple', 'Forage', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [16]:
#join the it_companies with a string '#;  '
joined_companies = '#; '.join(it_companies)
print(joined_companies)

PWC#; GOOGLE#; Microsoft#; Apple#; Forage#; IBM#; Oracle#; Amazon#; Accenture

In [17]:
#Check if a certain company exists in the it_companies list.
if "Apple" in it_companies:
    print("True")
else:
    print("False")

True

In [ ]:
# Sort the list using sort()
it_companies.sort()

In [ ]:
# Reverse the list in descending order using reverse()
it_companies.reverse()
print("List in descending order:", it_companies)

In [21]:
# Slice out the first 3 companies
first_three = it_companies[:3]
print("First 3 companies:", first_three)

First 3 companies: ['Accenture', 'Amazon', 'Apple']

In [22]:
# Slice out the last 3 companies
last_three = it_companies[-3:]
print("Last 3 companies:", last_three)

Last 3 companies: ['Microsoft', 'Oracle', 'PWC']

In [23]:
# Slice out the middle IT company or companies
length = len(it_companies)
if length % 2 == 1:
    middle_companies = [it_companies[length // 2]]  # One middle company
else:
    middle_companies = it_companies[length // 2 - 1:length // 2 + 1]  # Two middle companies
print("Middle IT company/companies:", middle_companies)

Middle IT company/companies: ['GOOGLE']

In [24]:
# Remove the first IT company from the list
it_companies.pop(0)
print("List after removing the first company:", it_companies)

List after removing the first company: ['Amazon', 'Apple', 'Forage', 'GOOGLE', 'IBM', 'Microsoft', 'Oracle', 'PWC']

In [25]:
# Remove the middle IT company or companies from the list
length = len(it_companies)
if length % 2 == 1:
    it_companies.pop(length // 2)  # Remove the one middle company
else:
    del it_companies[length // 2 - 1:length // 2 + 1]  # Remove two middle companies
print("List after removing the middle company/companies:", it_companies)

List after removing the middle company/companies: ['Amazon', 'Apple', 'Forage', 'Microsoft', 'Oracle', 'PWC']

In [26]:
# Remove the last IT company from the list
it_companies.pop()
print("List after removing the last company:", it_companies)

List after removing the last company: ['Amazon', 'Apple', 'Forage', 'Microsoft', 'Oracle']

In [27]:
# Remove all IT companies from the list
it_companies.clear()
print("List after removing all companies:", it_companies)

List after removing all companies: []

In [28]:
# Destroy the IT companies list
del it_companies
print("IT companies list destroyed.")

IT companies list destroyed.

In [34]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)

In [35]:
fullstack = front_end
print(fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [37]:
print(fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', ['python', 'SQL']]

Exercises: Level 2

In [39]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [40]:
ages.sort()

In [46]:
a,b = ages[0], ages[-1] #Maximum age, #Minimum age 
print("Minimum age", a)
print("Maximum age", b)

Minimum age 19
Maximum age 26

In [47]:
# Find the minimum and maximum age
min_age = min(ages)
max_age = max(ages)
print("Minimum age:", min_age)
print("Maximum age:", max_age)

Minimum age: 19
Maximum age: 26

In [48]:
# Add the minimum and maximum age again to the list
ages.append(min_age)
ages.append(max_age)
print("List after adding min and max ages:", ages)

List after adding min and max ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [49]:
length = len(ages)
if length % 2 == 0:  # Even number of items
    median_age = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:  # Odd number of items
    median_age = ages[length // 2]
print("Median age:", median_age)

Median age: 24.0

In [50]:
# Find the average age
average_age = sum(ages) / length
print("Average age:", average_age)

Average age: 22.75

In [51]:
# Find the range of the ages
age_range = max(ages) - min(ages)
print("Age range:", age_range)

Age range: 7

In [52]:
# Compare (min - average) and (max - average) using abs()
min_diff = abs(min(ages) - average_age)
max_diff = abs(max(ages) - average_age)
print("Absolute difference between min and average:", min_diff)
print("Absolute difference between max and average:", max_diff)

Absolute difference between min and average: 3.75
Absolute difference between max and average: 3.25

Tuple Exercises: Level 1

In [1]:
#Create an empty tuple
empty_tuple = ()

In [2]:
#Create tuples for imaginary siblings
sisters = ("Mary", "Susan")
brothers = ("John", "Paul")

In [3]:
#Join brothers and sisters tuples and assign to siblings
siblings = sisters + brothers

In [4]:
# Count the number of siblings
num_siblings = len(siblings)
print("I have", num_siblings, "siblings.")

I have 4 siblings.

In [5]:
# Add parents' names to the siblings tuple to create family_members
family_members = siblings + ("Father", "Mother")
print("Family members:", family_members)

Family members: ('Mary', 'Susan', 'John', 'Paul', 'Father', 'Mother')

In [6]:
# Unpack siblings and parents from family_members
family_members = ('Mary', 'Susan', 'John', 'Paul', 'Father', 'Mother')
*siblings, father, mother = family_members
print("Siblings:", siblings)
print("Father:", father)
print("Mother:", mother)

Siblings: ['Mary', 'Susan', 'John', 'Paul']
Father: Father
Mother: Mother

In [7]:
# Create fruits, vegetables, and animal products tuples
fruits = ("apple", "banana", "cherry")
vegetables = ("carrot", "broccoli", "spinach")
animal_products = ("milk", "cheese", "eggs")

In [8]:
# Join the three tuples into food_stuff_tp
food_stuff_tp = fruits + vegetables + animal_products
print("Food Stuff (Tuple):", food_stuff_tp)

Food Stuff (Tuple): ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'eggs')

In [9]:
# Change food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print("Food Stuff (List):", food_stuff_lt)

Food Stuff (List): ['apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'eggs']

In [10]:
# Slice out the middle item or items from food_stuff_tp or food_stuff_lt
middle_index = len(food_stuff_lt) // 2
if len(food_stuff_lt) % 2 == 0:
    middle_items = food_stuff_lt[middle_index - 1:middle_index + 1]
else:
    middle_items = food_stuff_lt[middle_index:middle_index + 1]
print("Middle Item(s):", middle_items)

Middle Item(s): ['broccoli']

In [11]:
# Slice out the first three items and the last three items from food_stuff_lt list
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]
print("First Three Items:", first_three)
print("Last Three Items:", last_three)

First Three Items: ['apple', 'banana', 'cherry']
Last Three Items: ['milk', 'cheese', 'eggs']

In [12]:
# Delete the food_stuff_tp tuple completely
del food_stuff_tp
# print(food_stuff_tp)  # This would raise a NameError since the tuple is deleted

In [13]:
# Step 8: Check if an item exists in a tuple
nordic_countries = ("Denmark", "Finland", "Iceland", "Norway", "Sweden")

In [14]:
# Check if 'Estonia' is a nordic country
is_estonia_nordic = "Estonia" in nordic_countries
print("Is Estonia a Nordic country?", is_estonia_nordic)

Is Estonia a Nordic country? False

In [15]:
# Check if 'Iceland' is a nordic country
is_iceland_nordic = "Iceland" in nordic_countries
print("Is Iceland a Nordic country?", is_iceland_nordic)

Is Iceland a Nordic country? True

Sets Exercises: Level 1

In [17]:
# Find the length of the set it_companies
it_companies = {"Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"}
print("Length of it_companies:", len(it_companies))

Length of it_companies: 7

In [18]:
# Add 'Twitter' to it_companies
it_companies.add("Twitter")
print("After adding 'Twitter':", it_companies)

After adding 'Twitter': {'Microsoft', 'Twitter', 'IBM', 'Oracle', 'Facebook', 'Apple', 'Google', 'Amazon'}

In [19]:
# Insert multiple IT companies at once to the set it_companies
it_companies.update({"Netflix", "Adobe", "Spotify"})
print("After adding multiple companies:", it_companies)

After adding multiple companies: {'Microsoft', 'Twitter', 'IBM', 'Facebook', 'Apple', 'Google', 'Netflix', 'Spotify', 'Adobe', 'Oracle', 'Amazon'}

In [20]:
#Step 4: Remove one of the companies from the set it_companies
it_companies.remove("Google")  # Example: removing "Google"
print("After removing 'Google':", it_companies)

After removing 'Google': {'Microsoft', 'Twitter', 'IBM', 'Facebook', 'Apple', 'Netflix', 'Spotify', 'Adobe', 'Oracle', 'Amazon'}

In [21]:
it_companies.discard("Yahoo")  # No error if "Yahoo" is not in the set
print("After discarding 'Yahoo':", it_companies)

After discarding 'Yahoo': {'Microsoft', 'Twitter', 'IBM', 'Facebook', 'Apple', 'Netflix', 'Spotify', 'Adobe', 'Oracle', 'Amazon'}

Sets Exercises: Level 2

In [22]:
# Define the sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [23]:
# Join A and B
A_union_B = A.union(B)
print("Join (Union) of A and B:", A_union_B)

Join (Union) of A and B: {1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
#Find A intersection B
A_intersection_B = A.intersection(B)
print("Intersection of A and B:", A_intersection_B)

Intersection of A and B: {4, 5}

In [25]:
# Is A a subset of B?
is_A_subset_B = A.issubset(B)
print("Is A a subset of B?", is_A_subset_B)

Is A a subset of B? False

In [26]:
# Are A and B disjoint sets?
are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets?", are_disjoint)

Are A and B disjoint sets? False

In [27]:
# Join A with B and B with A
A_update_B = A.copy()  # Make a copy to preserve original A
A_update_B.update(B)
print("Join A with B (A updated):", A_update_B)

Join A with B (A updated): {1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
B_update_A = B.copy()  # Make a copy to preserve original B
B_update_A.update(A)
print("Join B with A (B updated):", B_update_A)

Join B with A (B updated): {1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
# What is the symmetric difference between A and B?
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

Symmetric difference between A and B: {1, 2, 3, 6, 7, 8}

In [30]:
# Delete the sets completely
del A, B

In [ ]:
#I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [31]:
# Define the sentence
sentence = "I am a teacher and I love to inspire and teach people."

In [32]:
# Step 2: Split the sentence into words and remove punctuation
words = sentence.split()  # Splits by spaces
words = [word.strip(".") for word in words]  # Remove any punctuation like periods

In [33]:
# SConvert the list of words to a set to get unique words
unique_words = set(words)

In [34]:
# Count the number of unique words
num_unique_words = len(unique_words)

In [35]:
print("Number of unique words:", num_unique_words)
print("Unique words:", unique_words)

Number of unique words: 10
Unique words: {'inspire', 'teach', 'am', 'love', 'I', 'and', 'a', 'to', 'teacher', 'people'}