Exercises: Level 1

In [1]:
#Declare an empty list
empty_list = []

In [2]:
#Declare a list with more than 5 items
family = ["Joseph", "Goodness", "Promise", "Glory", "Mercy"]

In [3]:
#Find the length of your list
no_of_family = len(family)
print(no_of_family)

5

In [4]:
#Get the first item, the middle item and the last item of the list
family[::2]

['Joseph', 'Promise', 'Mercy']

In [5]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Saviour", 27, 1.75, "Single", "Lagos, Nigeria"]

In [6]:

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle","Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
#Print the first, middle and last company
print(it_companies[::2])

['Facebook', 'Microsoft', 'IBM', 'Amazon']

In [8]:
#Print the list after modifying one of the companies
it_companies[0] = "PWC"
print(it_companies)

['PWC', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [9]:
#Add an IT company to it_companies
it_companies.append("Accenture")
print(it_companies)

['PWC', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [10]:
#Insert an IT company in the middle of the companies list
it_companies.insert(4, 'Forage')
print(it_companies)

['PWC', 'Google', 'Microsoft', 'Apple', 'Forage', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [14]:
#Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()
print(it_companies)

['PWC', 'GOOGLE', 'Microsoft', 'Apple', 'Forage', 'IBM', 'Oracle', 'Amazon', 'Accenture']

In [16]:
#join the it_companies with a string '#;  '
joined_companies = '#; '.join(it_companies)
print(joined_companies)

PWC#; GOOGLE#; Microsoft#; Apple#; Forage#; IBM#; Oracle#; Amazon#; Accenture

In [17]:
#Check if a certain company exists in the it_companies list.
if "Apple" in it_companies:
    print("True")
else:
    print("False")

True

In [ ]:
# Sort the list using sort()
it_companies.sort()

In [ ]:
# Reverse the list in descending order using reverse()
it_companies.reverse()
print("List in descending order:", it_companies)

In [21]:
# Slice out the first 3 companies
first_three = it_companies[:3]
print("First 3 companies:", first_three)

First 3 companies: ['Accenture', 'Amazon', 'Apple']

In [22]:
# Slice out the last 3 companies
last_three = it_companies[-3:]
print("Last 3 companies:", last_three)

Last 3 companies: ['Microsoft', 'Oracle', 'PWC']

In [23]:
# Slice out the middle IT company or companies
length = len(it_companies)
if length % 2 == 1:
    middle_companies = [it_companies[length // 2]]  # One middle company
else:
    middle_companies = it_companies[length // 2 - 1:length // 2 + 1]  # Two middle companies
print("Middle IT company/companies:", middle_companies)

Middle IT company/companies: ['GOOGLE']

In [24]:
# Remove the first IT company from the list
it_companies.pop(0)
print("List after removing the first company:", it_companies)

List after removing the first company: ['Amazon', 'Apple', 'Forage', 'GOOGLE', 'IBM', 'Microsoft', 'Oracle', 'PWC']

In [25]:
# Remove the middle IT company or companies from the list
length = len(it_companies)
if length % 2 == 1:
    it_companies.pop(length // 2)  # Remove the one middle company
else:
    del it_companies[length // 2 - 1:length // 2 + 1]  # Remove two middle companies
print("List after removing the middle company/companies:", it_companies)

List after removing the middle company/companies: ['Amazon', 'Apple', 'Forage', 'Microsoft', 'Oracle', 'PWC']

In [26]:
# Remove the last IT company from the list
it_companies.pop()
print("List after removing the last company:", it_companies)

List after removing the last company: ['Amazon', 'Apple', 'Forage', 'Microsoft', 'Oracle']

In [27]:
# Remove all IT companies from the list
it_companies.clear()
print("List after removing all companies:", it_companies)

List after removing all companies: []

In [28]:
# Destroy the IT companies list
del it_companies
print("IT companies list destroyed.")

IT companies list destroyed.

In [34]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend(back_end)

In [35]:
fullstack = front_end
print(fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [37]:
print(fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', ['python', 'SQL']]

Exercises: Level 2

In [39]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [40]:
ages.sort()

In [46]:
a,b = ages[0], ages[-1] #Maximum age, #Minimum age 
print("Minimum age", a)
print("Maximum age", b)

Minimum age 19
Maximum age 26

In [47]:
# Find the minimum and maximum age
min_age = min(ages)
max_age = max(ages)
print("Minimum age:", min_age)
print("Maximum age:", max_age)

Minimum age: 19
Maximum age: 26

In [48]:
# Add the minimum and maximum age again to the list
ages.append(min_age)
ages.append(max_age)
print("List after adding min and max ages:", ages)

List after adding min and max ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [49]:
length = len(ages)
if length % 2 == 0:  # Even number of items
    median_age = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:  # Odd number of items
    median_age = ages[length // 2]
print("Median age:", median_age)

Median age: 24.0

In [50]:
# Find the average age
average_age = sum(ages) / length
print("Average age:", average_age)

Average age: 22.75

In [51]:
# Find the range of the ages
age_range = max(ages) - min(ages)
print("Age range:", age_range)

Age range: 7

In [52]:
# Compare (min - average) and (max - average) using abs()
min_diff = abs(min(ages) - average_age)
max_diff = abs(max(ages) - average_age)
print("Absolute difference between min and average:", min_diff)
print("Absolute difference between max and average:", max_diff)

Absolute difference between min and average: 3.75
Absolute difference between max and average: 3.25